:root {
    --background-color: #FFF;
    --background-color-alt: #DDD;
    --background-hover-color: #c2c2c2;
    --text-color: #555;
}

html[data-theme='light'] {
    --background-color: #FFF;
    --background-color-alt: #DDD;
    --background-hover-color: #c2c2c2;
    --text-color: #555;
}

html[data-theme='dark'] {
    --background-color: #1C1B22;
    --background-color-alt: #24232a;
    --background-hover-color: #383644;
    --text-color: #F7F8F8;
}


[data-theme='light'] #theme-toggle:hover {
    filter: none;
    cursor: pointer;
}

[data-theme='dark'] #theme-toggle:hover {
    filter: none;
    cursor: pointer;
}

[data-theme='light'] #theme-toggle>div::after {
    content:  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzU1NTU1NSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xMjAsNDBWMTZhOCw4LDAsMCwxLDE2LDBWNDBhOCw4LDAsMCwxLTE2LDBabTcyLDg4YTY0LDY0LDAsMSwxLTY0LTY0QTY0LjA3LDY0LjA3LDAsMCwxLDE5MiwxMjhabS0xNiwwYTQ4LDQ4LDAsMSwwLTQ4LDQ4QTQ4LjA1LDQ4LjA1LDAsMCwwLDE3NiwxMjhaTTU4LjM0LDY5LjY2QTgsOCwwLDAsMCw2OS42Niw1OC4zNGwtMTYtMTZBOCw4LDAsMCwwLDQyLjM0LDUzLjY2Wm0wLDExNi42OC0xNiwxNmE4LDgsMCwwLDAsMTEuMzIsMTEuMzJsMTYtMTZhOCw4LDAsMCwwLTExLjMyLTExLjMyWk0xOTIsNzJhOCw4LDAsMCwwLDUuNjYtMi4zNGwxNi0xNmE4LDgsMCwwLDAtMTEuMzItMTEuMzJsLTE2LDE2QTgsOCwwLDAsMCwxOTIsNzJabTUuNjYsMTE0LjM0YTgsOCwwLDAsMC0xMS4zMiwxMS4zMmwxNiwxNmE4LDgsMCwwLDAsMTEuMzItMTEuMzJaTTQ4LDEyOGE4LDgsMCwwLDAtOC04SDE2YTgsOCwwLDAsMCwwLDE2SDQwQTgsOCwwLDAsMCw0OCwxMjhabTgwLDgwYTgsOCwwLDAsMC04LDh2MjRhOCw4LDAsMCwwLDE2LDBWMjE2QTgsOCwwLDAsMCwxMjgsMjA4Wm0xMTItODhIMjE2YTgsOCwwLDAsMCwwLDE2aDI0YTgsOCwwLDAsMCwwLTE2WiI+PC9wYXRoPjwvc3ZnPg==');
}

[data-theme='dark'] #theme-toggle>div::after {
    content:  url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iI2ZmZmZmZiIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0yMzMuNTQsMTQyLjIzYTgsOCwwLDAsMC04LTIsODguMDgsODguMDgsMCwwLDEtMTA5LjgtMTA5LjgsOCw4LDAsMCwwLTEwLTEwLDEwNC44NCwxMDQuODQsMCwwLDAtNTIuOTEsMzdBMTA0LDEwNCwwLDAsMCwxMzYsMjI0YTEwMy4wOSwxMDMuMDksMCwwLDAsNjIuNTItMjAuODgsMTA0Ljg0LDEwNC44NCwwLDAsMCwzNy01Mi45MUE4LDgsMCwwLDAsMjMzLjU0LDE0Mi4yM1pNMTg4LjksMTkwLjM0QTg4LDg4LDAsMCwxLDY1LjY2LDY3LjExYTg5LDg5LDAsMCwxLDMxLjQtMjZBMTA2LDEwNiwwLDAsMCw5Niw1NiwxMDQuMTEsMTA0LjExLDAsMCwwLDIwMCwxNjBhMTA2LDEwNiwwLDAsMCwxNC45Mi0xLjA2QTg5LDg5LDAsMCwxLDE4OC45LDE5MC4zNFoiPjwvcGF0aD48L3N2Zz4=');
}
