body {
  color: var(--text-color);
  background: var(--background-color);
  box-sizing: border-box;
}
#container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}

#controls {
  margin: auto;
  text-align: center;
  align-content: center;
}

#controls button {
  padding: 0em 0.8em;
  margin: 0.2em;
  background: none;
  line-height: 1.8;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: var(--text-color)
}

#controls button:hover{
  background: var(--background-hover-color);
}

#controls  input[type=file] {
  display: none;
}

canvas {
  display: block;
  width: 640px;
  height: 567px;
  margin: auto;
  border: 1px solid black;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
