html {
  color: var(--text-color);
  background: var(--background-color);
  box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0;
}
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.controls #start {
  display: none;
}


.controls #pause {
  display: none;
}

.controls #reset {
  display: none;
}

.controls button>* {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}
.controls button {
  margin: 0.5rem;
  padding: 0 0.5rem;
  padding-top: 5px;
  background: none;
  border: none;
  border-radius: 5px;
  color: var(--text-color)
}

.controls button:hover{
  background: var(--background-hover-color);
}

.controls  input[type=file] {
  display: none;
}

canvas {
  display: block;
  width: 640px;
  height: 567px;
  margin: auto;
  border: 1px solid black;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
