:root {
  --zoom-factor: 1.0;
}

html {
  color: var(--text-color);
  background: var(--background-color);
  box-sizing: border-box;
}

body,html {
  height: 100%;
  margin: 0;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.controls {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.controls #start {
  display: none;
}


.controls #pause {
  display: none;
}

.controls #reset {
  display: none;
}

.controls button>* {
  width: 40px;
  height: 40px;
  fill: var(--text-color);
}
.controls button {
  margin: 0.5rem;
  padding: 0 0.5rem;
  padding-top: 5px;
  background: none;
  border: none;
  border-radius: 5px;
  color: var(--text-color)
}

.controls button:hover{
  background: var(--background-hover-color);
}

.controls  input[type=file] {
  display: none;
}

#screen-wrapper {
  display: flex;
  flex: 0.75;
  justify-content: center;
  align-items: center;
}

.view-options-container {
  position: relative;
}
.view-options-menu {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: var(--background-color-alt);
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* Trick to offset popover more to left if narrow screen.
Assumes view options placed at right hand side */
@media (max-width: 500px) {
  .view-options-menu {
    right: 0;
    left: unset;
    transform: unset;
  }
}
canvas {
  width: calc(640px*var(--zoom-factor));
  height: calc(567px*var(--zoom-factor));
  border: 2px solid var(--text-color);
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}
